@charset "utf-8";
@import "media_queries";

@font-face{
	font-family: MavenPro-Regular;
	src: url('MavenPro-Regular.ttf');
}

@font-face{
	font-family: IstokWeb-Regular;
	src: url('IstokWeb-Regular.ttf');
}

html, body{
	height: 100%;
}

body{
	background: #000f05 url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
	font-family: MavenPro-Regular;
	font-size: 1em;
}

.wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -3em;
}

// Highlight selected nav item
body.project header nav a.project, 
body.research header nav a.research, 
body.product header nav a.product, 
body.be-eco header nav a.be-eco{
	background-color: rgba(#567317, .64);
}

h1{
	background-image: url("../images/euphorbia.png");
	padding-right: 240px;
	padding-bottom: 140px;
	width: 0;
	height: 0;
	overflow: hidden;
	display: inline-block;
}

a{
	text-decoration: none;
	color: darken(white, 30%);
}

header nav{	
	a{
		text-transform: uppercase;
		font-size: 1.8em;
		color: rgba(white, .7);
		padding: .3em 1.5em;
		margin-right: .1em;
		margin-bottom: .2em;
		background-color: rgba(#050e00, .64);
		display: inline-block;
		
		&:last-child{
			margin-right: 0;
		}
		
		&:hover{
			background-color: rgba(#050e00, .8);
		}
	}
}

section{
	width: 80%;
	max-width: 980px;
	box-sizing: border-box;
	margin: 1em auto;
	padding: 1em 2em;
	background-color: rgba(black, .7);
	display: inline-block;
	font-family: IstokWeb-Regular;
	text-align: left;
	color: white;
	
	h3{
		font-size: 1.5em;
		margin: 1em 0 .5em 0;
		
	}
	
	p{
		margin: .7em 1em .7em 0;
	}
	
	nav{
		width: 100%;
		background-color: black;
		display: table;
		margin: 0;
		font-family: MavenPro-Regular;
		text-align: center;
		
		a{
			text-transform: lowercase;
			color: white;
			display: table-cell;
			font-size: 1.5em;
			padding: .5em;
			
			&:hover{
				color: #cdcdcd;
			}
			
			&.selected{
				color: #c7bf67;
			}
		}
	}
}

.project section, .research section, .product section{
	display: none;

	
	&:first-of-type, &.show{
		display: inherit;
	}
	
	&.hidden{
		display: none;
	}
}

.text_content{
	width: 75%;
	box-sizing: border-box;
	margin: 0;
	display: inline-block;
	vertical-align: top;
	
	@include screen(1000){
		width: 100%;
	}
}

.sidebar{
	@include min-screen(1000){
		width: 24%;
		box-sizing: border-box;
		padding-left: 2%;
		margin: 0;
		border-left: solid 1px white;
		display: inline-block;
		
		figure{
			margin-top: 0;
		}
		
		img{
			width: 100%;			
		}
	}
}

figure{
	margin-bottom: 1em;
	margin-top: 2em;
		
	img{
		width: 100%;
		height: auto;
		border: none;
		
		@include min-screen(800){
			width: auto;
		}
	}
	
	figcaption{
		font-size: .8em;
	}
}

footer, .push{
	height: 3em;
}

footer{
	width: 100%;
	padding: 0;
	
	#sponsors{
		width: 100%;
		margin: 0;
		height: 0;
		background-color: black;
		background-size: 90%;
		background-position: center 1em;
		background-repeat: no-repeat;
		position: absolute;
		-webkit-transition: height 1s;		
		bottom: 100%;
		left: 0;
		overflow: hidden;
		
		&.show{
			height: 10em;
		}
		
		.image{
			background-image: url('../images/sponsors.png');
			background-repeat: no-repeat;
			background-size: contain;
			height: 10em;
			width: 100%;
			max-width: 1200px;
			margin: auto;
			display: block;
		}
	}
	
	.sponsors_bar{
		background-color: rgba(black, .9);
		text-align: left;
		padding: .5em;
		float: none;
		clear: both;
		position: relative;
		
		a{
			position: absolute;
			right: 1em;
			font-size: 1.5em;
			color: #bbbbbb;
			
			&:before{
				content: '';
				background-image: url('../images/arrow-up.png');
				background-repeat: no-repeat;
				width: 1em;
				height: .8em;
				display: inline-block;
			}
		}
		
	}	
}

// WELCOME section
.index{
	section{
		background-color: rgba(black, .64);
		
		img{
			display: table;
			margin: auto;
		}
	}
	
	img.caption{
		width: 80%;
		max-width: 980px;
		box-sizing: border-box;
	}
	
	p{
		display: inline;
		background-color: rgba(black, .5);
		font-size: 2em;
		text-align: left;
	}
}

// TEAM section
.team_members{
	width: 100%;
	
	.member{
		display: inline-block;
		width: 24%;
		box-sizing: border-box;
		margin-bottom: 2em;
		vertical-align: top;
	}
	
	.info{
		padding-right: 1em;
	}
	
	figure{
		width: auto;
		padding-left: inherit;
		margin-left: inherit;
		white-space: inherit;
		border-style: none;
		display: inherit;
		
		img{
			border-style: none;
		}
	}
	
	.background:before, .contact:before{
		display: block;
		font-size: 1em;
		opacity: .7;
	}

	.background:before{
		content: 'Background:';
	}
	
	.contact:before{
		content: 'Contact:';
	}
	
	.background, .contact{
		font-size: .8em;
		margin-bottom: 1em;
	}
	
	.contact *{
		font-size: 1.3em;
	}
	
	@include screen(1000){
		.member{
			display: inline-block;
			width: 49%;
			
			.info{
				width: 80%;
			}
			
			figure{
				height: 20em;
				width: 100%;
				overflow: hidden;
			}
			
		}
	}
}




