---
title: Product
---

%section
	.text_content
		%p Team Euphorbia designed a learning experience that includes a web app as well as a set of playing cards. The design elements used in the cards and the web app interface were co-design in collaboration with children from fishermen and farmer’s communities in Madeira.
		/ video goes here
		%figure
			%img{:src=>'images/drawings-integration.png'}
			%figcaption Example of the integration of the children drawings in the final product
	.sidebar
		%figure
			%img{:src=>'images/pigeon.png', :width=>228, :height=>303}
			%figcaption Child's pigeon drawing
