---
title: Product
---

%section
	/ video goes here
	%p Team Euphorbia designed a learning experience that includes a web app as well as a set of playing cards. The design elements used in the cards and the web app interface were co-design in collaboration with children from fishermen and farmer’s communities in Madeira.
